.body {
    display: flex;
    flex-direction: column;
    align-items: center;

    inline-size: 100%;
    max-inline-size: 1257px;

    background-color: #FFF;
    border-radius: 30px;
}

.converterRow {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;

    inline-size: 90%;
    margin-block-start: clamp(12px, 2vw, 20px);
}

.inputsColumn {
    display: flex;
    flex-direction: column;
    inline-size: 50%;
    gap: 16px;
}