.currency-converter-body {
    width: 100%;
    max-width: 1257px;
    min-height: min(662px, calc(100vh - 48px));   
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 30px;
}