.page {
    display: flex;
    justify-content: center;
    align-items: center;

    min-block-size: 100vh;

    background-color: #ebf4fb;
}

.loader {
    padding: 40px;
    font-size: 1.2rem;
    color: #666;
}

.errorCard {
    background-color: #ff6b6b;
    color: white;
    padding: 20px 40px;
    border-radius: 12px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    box-shadow: 0 4px 12px rgba(255, 107, 107, 0.4);
}
