.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-block-start: clamp(16px, 3vw, 29px); 
}

.header__label {
    color: #767676;
    font-family: Inter;
    font-size: 16px; 
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0;
}

.header__rate {
    color: #000;
    font-family: Inter;
    font-size: 40px; 
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0;
}

.header__date {
    margin-block-start: clamp(12px, 2vw, 19px);

    color: #767676;
    font-family: Inter;
    font-size: 14px; 
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0;
}
